{% extends "navigation.html" %}


{% block title %}
    Account
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="custom-h1 mt-4">Account</h1>
    <h3 class="'mt-4 custom-h3 left">Username: {{username}}</h3>
    <h3 class="'mt-4 custom-h3 left">Email: {{email}}</h3>
    <h3 class="'mt-4 custom-h3 left">First: {{first}}</h3>
    <h3 class="'mt-4 custom-h3 left">Last: {{last}}</h3>
    
    <a class="btn btn-primary right-btn mt-4" href="/logout">Log Out</a>
</div>
{% endblock %}