{% extends "dashboard.html" %}

{% block main %}
<main class="container">
    <h1 class="mt-4 custom-h1">Buy A Stock</h1>
    <form action="/leagues/{{username}}/{{name}}/stocks/buy" method="POST">
        <div class="mb-3">
          <label class="form-label">Ticker</label>
          <input name='stock' class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Number of Shares</label>
            <input name='shares' class="form-control">
        </div>
        <a href="/leagues/{{username}}/{{name}}/stocks"  class="btn btn-primary right-btn">Cancel</a>
        <button type="submit" class="btn btn-primary right-btn">Submit</button>
    </form>
    {% if alert_message %}
    <div class="alert alert-info" role="alert">
      {{ alert_message }}
    </div>
    {% endif %}
</main>
{% endblock %}