{% extends "dashboard.html" %}

{% block main %}
<main class="container">
    <h1 class="my-4 custom-h1">Cash Out</h1>
    <form action="/leagues/{{username}}/{{name}}/portfolio/cashout" method="POST">
        <div class="mb-3">
          <label class="form-label">Stock Symbol</label>
          <input name='stock' class="form-control">
        </div>
        <a href="/leagues/{{username}}/{{name}}/portfolio"  class="btn btn-primary right-btn">Cancel</a>
        <button type="submit" class="btn btn-primary right-btn">Submit</button>
    </form>
    {% if alert_message %}
    <div class="alert alert-info" role="alert">
    {{ alert_message }}
    </div>
    {% endif %}
</main>
{% endblock %}