{% extends "navigation.html" %}


{% block title %}
    Create
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="mt-4 custom-h1">Create League</h1>
</div>
<main class="container">
    <form action="/create/{{username}}" method="POST">
        <div class="mb-3">
          <label class="form-label">League ID</label>
          <input name='id' class="form-control">
          <div class="form-text">Cannot have any spaces</div>
        </div>
        <div class="mb-3">
            <label class="form-label">League Name</label>
            <input name='name' class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">League Password</label>
            <input name='pwd' class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Number of Players</label>
            <input name='players' class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Number of Weeks</label>
            <input name='weeks' class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Weekly Cash</label>
            <input name='cash' class="form-control">
        </div>
        <a href="/leagues/{{username}}"  class="btn btn-primary right-btn">Cancel</a>
        <button type="submit" class="btn btn-primary right-btn">Submit</button>
    </form>
    {% if alert_message %}
    <div class="alert alert-info" role="alert">
      {{ alert_message }}
    </div>
    {% endif %}
</main>
{% endblock %}