{% extends "navigation.html" %}


{% block title %}
    Home
{% endblock %}


{% block body %}

<div class="container">
    <h1 class="mt-4 custom-h1">Welcome to Equity Empire</h1>
</div>
<!-- <div class="container">
    <h1 class="mt-4 custom-h3">Scroll Down For Rules</h1>
</div> -->
<div class="image-overlay position-relative">
    <div class="">
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary btn-lg mt-2 big-btn" href="/create">Create a League</a>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary btn-lg mt-2 big-btn" href="/join">Join a League</a>
        </div>
    </div>
</div>
  

<div class="container">
    <h1 class="mt-4 custom-h3">How To Play</h1>
</div>

<div class="container">
    
    <div class="row">
        <div class="col">
            <div>
                <p>
                    Write Intruction 1
                </p>
            </div>
        </div>
        <div class="col">
            <div>
                <p>
                    Write Intruction 2
                </p>
            </div>
        </div>
        <div class="col">
            <div>
                <p>
                    Write Instruction 3
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div>
                <p>
                    Write Intruction 4
                </p>
            </div>
        </div>
        <div class="col">
            <div>
                <p>
                    Write Intruction 5
                </p>
            </div>
        </div>
        <div class="col">
            <div>
                <p>
                    Write Instruction 6
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div>
                <p>
                    Write Intruction 7
                </p>
            </div>
        </div>
        <div class="col">
            <div>
                <p>
                    Write Intruction 8
                </p>
            </div>
        </div>
        <div class="col"> </div>
    </div>

</div>

<img src="/static/stock-background.jpg" alt="Transparent Image" class="img-fluid mt-4">

{% endblock %}