{% extends "navigation.html" %}


{% block title %}
    Home
{% endblock %}


{% block body %}

<div class="container">
    <h1 class="mt-4 custom-h1">Welcome to Equity Empire</h1>
</div>
<!-- <div class="container">
    <h1 class="mt-4 custom-h3">Scroll Down For Rules</h1>
</div> -->
<div class="image-overlay position-relative">
    <div class="">
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary btn-lg mt-2 big-btn" href="/create">Create a League</a>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary btn-lg mt-2 big-btn" href="/join">Join a League</a>
        </div>
    </div>
</div>
  

<div class="container">
    <h1 class="mt-4 custom-h3">How To Play</h1>
</div>

<!-- <img src="/static/playing-0.png" alt="Transparent Image" class="img-fluid mt-2"> -->
<!-- <img src="/static/playing-1.png" alt="Transparent Image" class="img-fluid mt-0"> -->
<img src="/static/stock-background.jpg" alt="Transparent Image" class="img-fluid mt-0">

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/playing-0.png" alt="Image 1">
      </div>
      <div class="carousel-item">
        <img src="/static/playing-1.png" alt="Image 2">
      </div>
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

{% endblock %}