{% extends "navigation.html" %}


{% block title %}
    Home
{% endblock %}


{% block main %}

<div class="image-overlay position-relative">
    <img src="/static/stock-background.jpg" alt="Transparent Image" class="img-fluid">
    <div class="button-container position-absolute top-50 start-50 translate-middle">
        <div class="d-flex flex-column align-items-center">
            <button class="btn btn-primary btn-lg btn-block">Create a League</button>
            <button class="btn btn-secondary btn-lg btn-block mt-2">Join a League</button>
        </div>
    </div>
</div>
  

<div class="container">
    <h1 class="my-4">How To Play</h1>
</div>

<div class="container">
    
    <div class="row">
        <div class="col">
            <div>
                <p>
                    Write Intruction 1
                </p>
            </div>
        </div>
        <div class="col">
            <div>
                <p>
                    Write Intruction 2
                </p>
            </div>
        </div>
        <div class="col">
            <div>
                <p>
                    Write Instruction 3
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div>
                <p>
                    Write Intruction 4
                </p>
            </div>
        </div>
        <div class="col">
            <div>
                <p>
                    Write Intruction 5
                </p>
            </div>
        </div>
        <div class="col">
            <div>
                <p>
                    Write Instruction 6
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div>
                <p>
                    Write Intruction 7
                </p>
            </div>
        </div>
        <div class="col">
            <div>
                <p>
                    Write Intruction 8
                </p>
            </div>
        </div>
        <div class="col"> </div>
    </div>

</div>

<!-- <div class="container">
    <h1 class="my-4">Popular Stocks</h1>
</div>

<div class="dropdown custom-dropdown">
    <button class="btn btn-block w-100 dropdown-toggle custom-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <h1>Popular Stocks</h1>
    </button>
    <div class="dropdown-menu">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p>Some text here</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}