{% extends "navigation.html" %}


{% block title %}
    Join
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="custom-h1 mt-4">Join League</h1>
</div>
<main class="container">
    <form action="/join/{{username}}" method="POST">
        <div class="mb-3">
          <label class="form-label">League ID</label>
          <input name='id' class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">League Name</label>
            <input name='name' class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">League Password</label>
            <input name='pwd' class="form-control">
        </div>
        <a href="/leagues/{{username}}"  class="btn btn-primary right-btn">Cancel</a>
        <button type="submit" class="btn btn-primary right-btn">Submit</button>
    </form>
    {% if alert_message %}
    <div class="alert alert-info" role="alert">
      {{ alert_message }}
    </div>
    {% endif %}
</main>
{% endblock %}