{% extends "navigation.html" %}


{% block title %}
    League Home
{% endblock %}


{% block body %}

<div id='leagues_page' class="container">
    <h1>League Home</h1>
    <h1>Username: {{username}}</h1>
    <h1>Leagues: {{all_leagues}}</h1>
    <a class="btn btn-secondary btn-lg btn-block mt-2" href="/create/{{username}}">Create a League</a>
    <a class="btn btn-secondary btn-lg btn-block mt-2" href="/join/{{username}}">Join a League</a>
    {% if alert_message %}
    <div class="alert alert-info" role="alert">
      {{ alert_message }}
    </div>
    {% endif %}
    <script>
        let loop_leagues = JSON.parse('{{ all_leagues | tojson | safe }}');
        for(let i = 0; i < loop_leagues.length; i++) {
            var anchor = document.createElement('a');
            anchor.setAttribute('class', 'btn btn-primary btn-lg btn-block mt-2');
            anchor.setAttribute('href', '/leagues/{{username}}/' + loop_leagues[i] + '/portfolio');
            anchor.innerText = loop_leagues[i];
            let container = document.createElement('div');
            container.append(anchor)
            let contain = document.querySelector("#leagues_page")
            contain.appendChild(container);
        }
    </script>
</div>

{% endblock %}