<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/stylesheet.css">
        
        <title>{% block title %}{% endblock %} | Equity Empire</title>
    </head>

    <body>
        <div id="username" data-parameter={{username}}></div>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a id='logoBtn' class="navbar-brand" href="/">Equity Empire</a>
                <script>
                    let logoBtn = document.querySelector('#logoBtn');

                    if('{{username}}' != '') {
                        logoBtn.href = "/home/" + "{{username}}";
                    }
                </script>
                <a id='homeBtn' class="nav-link" href="/home">Home</a>
                <script>
                    let homeBtn = document.querySelector('#homeBtn');

                    if('{{username}}' != '') {
                        homeBtn.href = "/home/" + "{{username}}";
                    }
                </script>
                <a id='exploreBtn' class="nav-link" href="/explore">Explore</a>
                <script>
                    let exploreBtn = document.querySelector('#exploreBtn');

                    if('{{username}}' != '') {
                        exploreBtn.href = "/explore/" + "{{username}}";
                    }
                </script>
                <a id='leaguesBtn' class="nav-link" href="/leagues">Leagues</a>
                <script>
                    let leaguesBtn = document.querySelector('#leaguesBtn');

                    if('{{username}}' != '') {
                        leaguesBtn.href = "/leagues/" + "{{username}}";
                    }
                </script>
                <a id='accountBtn' class="nav-link" href="/account">Account</a>
                <script>
                    let accountBtn = document.querySelector('#accountBtn');

                    if('{{username}}' != '') {
                        accountBtn.href = "/account/" + "{{username}}";
                    }
                </script>
            </div>
        </nav>
        
        
        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/script.js"></script>
    </body>

</html>