{% extends "dashboard.html" %}

{% block main %}
<div class="container">
    <h1 class="mt-4 custom-h1">Scoreboard</h1>
    <h3 class="mt-4 custom-h3">Week {{week}}</h3>
    <div class="table-responsive mt-4" id="table-container">
        <script>
            let names = JSON.parse('{{ names | tojson | safe }}');
            let matchups = JSON.parse('{{ matchups | tojson | safe }}');
            let cash = JSON.parse('{{ cash | tojson | safe }}');
            var index = 0
            for(var count = 0; count < "{{len}}"; count++) {
                let header = document.createElement('h3');
                header.textContent = 'Matchup ' + (count+1);
                header.classList.add('custom-right-h3','mt-3')

                // Create the table element
                let table = document.createElement('table');
                table.classList.add('table', 'table-bordered', 'mt-3');

                let headerRow = document.createElement('tr');
                let headerCell1 = document.createElement('th');
                headerCell1.textContent = 'Team';
                let headerCell2 = document.createElement('th');
                headerCell2.textContent = 'Cash';
                headerRow.appendChild(headerCell1);
                headerRow.appendChild(headerCell2);

                table.appendChild(headerRow)

                // Create the table rows and cells
                for (let i = 0; i < 2; i++) {
                    let row = document.createElement('tr');
                    

                    let cell = document.createElement('td');
                    cell.textContent = names[matchups[count][i] - 1];
                    row.appendChild(cell);

                    let cell2 = document.createElement('td');
                    cell2.textContent = "$ " + cash[matchups[count][i] - 1];
                    row.appendChild(cell2);
                    

                    table.appendChild(row);

                    index++;
                }

                // Append the header and table to the container div
                let container = document.querySelector('#table-container');
                container.appendChild(header);
                container.appendChild(table);
            }

            
        
        </script>
    </div>
</div>
{% endblock %}